body {
	background: url("../images/shoto.png");
	font-family: 'Playfair Display', serif;
	font-weight: bold;
	/* the follow is the code to have the image display as a full page */
	background-position: center;
	background-attachment: fixed;
	-webkit-background-size: cover; /* the next 3 lines are "browser prefixes", they are necessary to include for CSS3 techniques */
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

div.container {
	width: 424px;
	color: black;
	padding: 15px;
	}

h1 {
	font-size: 50px;
}

h2 {
	/*background: #75c1f6;*/
	color: #379ee7;
	padding: 5px;
	border-radius: 5px;
}	

a {
	color: grey;
	text-decoration: none;
}
